main {
    overflow: hidden;
}
.business_main {
    margin: 200px auto 0 auto;
    text-align: center;
}
.our_business {
    font-size: 80px;
    color: rgb(29, 76, 119);
}
.business_img img{
    width: 1000px;
}

.business_content {
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}
.business_sentence {
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
}
.product_area {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    background-color: rgb(179, 176, 176);
}
.product_case {
    text-align: center;
    padding-top: 50px;
}
.blade_index {
    height: 700px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(212, 223, 245);
    border-radius: 20px;
}
.blade_img {
    text-align: center;
}
.blade_sentence {
    width: 80%;
    line-height: 30px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 80px;
    padding-right: 20px;
    background-color: white;
    margin: 0 auto;
    /* margin-left: 20px; */
    height: 500px;
}
.blade_sentence h2 {
    margin-bottom: 20px;
    text-align: center;
}
.blade_border {
    width: 70px;
    margin: 0 auto;
    border-bottom: solid 2px #fd9d43;
    margin-bottom: 50px;

}
.blade_sentence p {
    margin-bottom: 60px;
}
.blade_img img {
    padding: 0 0 0 60px;
    width: 600px;
    height: 600px;

}
.elem {
    opacity: 0.1;
    transition: 1.5s;
    transform: translate(200px);
    flex-grow: 1;
}
.elem_left {
    opacity: 0.1;
    transition: 1.5s;
    transform: translate(-200px);
    flex-grow: 1;
}
.befor_after {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.change1 {
    margin-right: 220px;
    text-align: center;
}
.change2 {
    margin-left: 220px;
    text-align: center;
}
.img1, .img2 {
    margin-top: 50px;
}
.img1 {
    margin-right: 100px;
}
.img2 {
    margin-left: 100px;
}
.product_area img {
    box-shadow:0px 0px 10px;
    border:1px solid #000;
}
.arrow {
    display:inline-block;
    height:40px;
    width:80px;
    background-color:#746e6e;
    position:relative;
    top:40px;
}
  
.arrow:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:60px solid transparent;
    border-left:30px solid #746e6e;
    left:80px;
    top:-37px;
}
  #footer {
    position: relative;
    background-color: rgb(175, 175, 175);
    width: 100%;
    height: 220px;
    z-index: 1;
    }
.elem1 {
    opacity: 0.1;
    transition: 1.5s;
    transform: translateY(100px);
  }
  .before {
      margin: 0 auto;
      color: white;
      background-color: black;
      width: 150px;
      padding: 15px 0;
  }
  .after {
    margin: 0 auto;
    background-color: white;
    width: 150px;
    padding: 15px 0;
  }
.isAnimate {
    opacity: 1;
    transform: rotate(0); 
}
.product_wrap {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.kiku_footer {
    color: white;
    padding-top: 50px;
}
.footer_left {
    width: 50%;
    padding-left: 100px;
}
.footer_left h3 {
    margin-bottom: 20px;
}
.adress {
    margin-bottom: 0;
}
.footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right a {
    padding-left: 20px;
    color: white;
    font-weight:bold;
}
.footer_list a {
    font-weight:bold;
}
#nav_footer {
    list-style: none;
    position: absolute;
    top: 100px;
    right: 100px;
}
.footer_list {
    float: left;
    padding-left: 30px
}
.footer_list a:hover {
    color: rgb(253, 157, 67);
    transition: all  0.6s ease;
}
.footer_left a {
    color: white;
}

#nav_footer .footer_list a.active {
    color: rgb(253, 157, 67);
}
.kiku_image {
    padding-left: 30px;
}
.copy_right {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}
@media screen and (max-width: 1230px) { 
    .blade_img img {
        /* margin-top: 70px; */
        width: 500px;
        height: 500px;
    }
}
@media screen and (max-width: 1090px) { 
    .blade_img img {
        /* margin-top: 70px; */
        width: 400px;
        height: 400px;
    }
    .blade_index {
        margin-left: 50px;
        margin-right: 50px;
    }
    .img1, .img2 {
        width: 250px;
        height: 250px;
    }
    .change1 {
        margin-right: 180px;
    }
    .change2 {
        margin-left: 180px;
    }
}
@media screen and (max-width: 995px) {
    .footer_list {
        float: none;
        padding-left: 0;
        padding-top: 15px;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 20px;
        right: 100px;
    }
    .blade_index {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 767px) { 
    .change1 {
        margin-right: 120px;
    }
    .change2 {
        margin-left: 120px;
    }
    .business_img img{
        width: 100%;
    }
    .our_business {
        font-size: 60px;
    }
    .business_content, .business_sentence {
        padding-top: 70px;
        padding: 0 30px;
    }
    .business_content h2 {
        font-size: 21px;
    }
    .business_sentence {
        text-align: left;
    }
    .blade_index {
        height: 950px;
        display: block;
        align-items: center;
        /* background-color: rgb(212, 223, 245);
        border-radius: 20px; */
    }
    .blade_img img{
        width: 95%;
        padding-left: 0;
        margin-top: 50px;
    }
    .blade_sentence {
        width: 95%;
        margin-top: 50px;
        height: 400px;
    }
    .product_area img {
        width: 200px;
        height: 200px;
    }
    .before {
        margin: 0 auto;
        color: white;
        background-color: black;
        width: 100px;
        padding: 15px 0;
        font-size: 25px;
    }
    .after {
        margin: 0 0 0 30px;
        background-color: white;
        width: 100px;
        padding: 15px 0;
        font-size: 25px;
    }
    .product_case h1 {
        font-size: 35px;
    }
    .row {
        margin-right: 0;
        margin: 30px;
    }
    .arrow {
        display: inline-block;
        height: 20px;
        width: 40px;
        background-color: #746e6e;
        position: relative;
        top: 24px;
        margin-left: 15px;
    }
    .arrow:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-left: 20px solid #746e6e;
        left: 38px;
        top: -30px;
    }
    .img2 {
        margin-left: 30px;
    }
    .img1 {
        margin-right: 0;
    }
    #footer {
        background-color: rgb(175, 175, 175);
        width: 100%;
        height: 420px;
        z-index:1;
    }
    #nav_footer {
        list-style: none;

        left: 10px;
        padding-top: 5px;
    }
    .footer_left {
        width: 100%;
        padding-left: 70px;
        padding-top: 190px;
    }
}

@media screen and (max-width: 550px) {  
    .product_area img {
        width: 100px;
        height: 100px;
    }
    .change1 {
        margin-right: 40px;
    }
    .change2 {
        margin-left: 40px;
    }
    .before, .after {
        font-size: 17px;
    }
    .blade_index {
        height: 990px;
    }
    .blade_sentence {
        width: 95%;
        margin-top: 50px;
        height: 450px;
    }
}

