main {
    /* width:100%; */
    overflow: hidden;
}


.business_main {
    margin: 200px auto 0 auto;
    text-align: center;
    /* width: 500px; */
}
.our_business {
    font-size: 80px;
    color: rgb(29, 76, 119);
}
.business_img img{
    /* text-align: center; */
    width: 1000px;
}

.business_content {
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}
.business_sentence {
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
}
.product_area {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    background-color: rgb(179, 176, 176);
}
.product_case {
    text-align: center;
    padding-top: 50px;
}
.befor_after {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.change1 {
    margin-right: 220px;
    text-align: center;
}
.change2 {
    margin-left: 220px;
    text-align: center;
}
.img1, .img2 {
    margin-top: 50px;
}
.img1 {
    margin-right: 100px;
}
.img2 {
    margin-left: 100px;
}
/* .product_img {
    margin-right: 300px;
} */
.product_area img {
    box-shadow:0px 0px 10px;
    border:1px solid #000;
}
.arrow {
    display:inline-block;
    height:40px;
    width:80px;
    background-color:#746e6e;
    position:relative;
    top:40px;
  }
  
  .arrow:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:60px solid transparent;
    border-left:30px solid #746e6e;
    left:80px;
    top:-37px;
  }
  #footer {
    /* position: absolute; */
    /* bottom: 0; */
    position: relative;
    /* top: 144px; */
    background-color: gray;
    /* margin-top: 200px; */
    width: 100%;
    height: 220px;
    z-index: 1;
    }
.elem1 {
    /* position: relative; */
    opacity: 0.1;
    transition: 1.5s;
    transform: translateY(100px);
  }
  .before {
      /* text-align: center; */
      margin: 0 auto;
      color: white;
      background-color: black;
      width: 150px;
      padding: 15px 0;
  }
  .after {
    /* color: white; */
    margin: 0 auto;
    background-color: white;
    width: 150px;
    padding: 15px 0;
  }
.isAnimate {
    opacity: 1;
    transform: rotate(0); 
}
.product_wrap {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.kiku_footer {
    color: white;
    padding-top: 50px;
    /* margin-bottom: 20px; */
}
.footer_left {
    width: 50%;
    padding-left: 100px;
}
.footer_left h3 {
    margin-bottom: 20px;
}
.adress {
    margin-bottom: 0;
}
.footer_right {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right a {
    padding-left: 20px;
    color: white;
    font-weight:bold;
}
.footer_list a {
    font-weight:bold;
}
#nav_footer {
    list-style: none;
    position: absolute;
    top: 100px;
    /* bottom: 0; */
    right: 100px;
    /* padding-bottom: 100px; */
}
.footer_list {
    float: left;
    padding-left: 30px
}
.footer_list a:hover {
    color: rgb(38, 32, 32);
    transition: all  0.6s ease;
}
.footer_left a {
    color: white;
}
.footer_left a:hover {
    color: rgb(38, 32, 32);
    transition: all  0.6s ease;
}
#nav_footer .footer_list a.active {
    color: black;
}
.copy_right {
    padding-top: 30px;
    text-align: center;
    font-size: 13px;
}
@media screen and (max-width: 995px) {
    .footer_list {
        float: none;
        padding-left: 0;
        padding-top: 15px;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 20px;
        /* bottom: 0; */
        right: 100px;
        /* padding-bottom: 100px; */
    }
}
@media screen and (max-width: 1090px) { 
    .img1, .img2 {
        /* text-align: center; */
        width: 250px;
        height: 250px;
    }
    .change1 {
        margin-right: 180px;
    }
    .change2 {
        margin-left: 180px;
    }
}
@media screen and (max-width: 767px) { 
    .change1 {
        margin-right: 120px;
    }
    .change2 {
        margin-left: 120px;
    }
    .business_img img{
        /* text-align: center; */
        width: 100%;
    }
    .our_business {
        font-size: 60px;
    }
    .business_content, .business_sentence {
        padding-top: 70px;
        padding: 0 30px;
        /* text-align: left; */
        /* margin: 10px 10px; */
    }
    .business_content h2 {
        font-size: 21px;
    }
    .business_sentence {
        text-align: left;
    }
    .product_area img {
        width: 200px;
        height: 200px;
    }
    .before {
        /* text-align: center; */
        margin: 0 auto;
        color: white;
        background-color: black;
        width: 100px;
        padding: 15px 0;
        font-size: 25px;
    }
    .after {
        margin: 0 0 0 30px;
        background-color: white;
        width: 100px;
        padding: 15px 0;
        font-size: 25px;
        /* margin-left: 10px; */
    }
    .product_case h1 {
        font-size: 35px;
    }
    /* .product_item {
        text-align: center;
    } */
    .row {
        margin-right: 0;
        margin: 30px;
    }
    .arrow {
        display: inline-block;
        height: 20px;
        width: 40px;
        background-color: #746e6e;
        position: relative;
        top: 24px;
        margin-left: 15px;
    }
    .arrow:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-left: 20px solid #746e6e;
        left: 38px;
        top: -30px;
    }
    /* .arrow1 {
        display: inline-block;
        height: 20px;
        width: 40px;
        background-color: #746e6e;
        position: relative;
        top: 55px;
        margin-left: 15px;
    }
    .arrow1:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-left: 20px solid #746e6e;
        left: 38px;
        top: -28px;
    } */
    .img2 {
        margin-left: 30px;
    }
    .img1 {
        margin-right: 0;
    }
    #footer {
        /* position: absolute; */
        /* bottom: 0; */
        /* position: absolute; */
        /* top: 144px; */
        background-color: gray;
        /* margin-top: 200px; */
        width: 100%;
        height: 420px;
        z-index:1;
    }
    #nav_footer {
        list-style: none;

        left: 10px;
        padding-top: 5px;
    }
    .footer_left {
        width: 100%;
        padding-left: 70px;
        padding-top: 190px;
    }
}

@media screen and (max-width: 550px) {  
    .product_area img {
        width: 100px;
        height: 100px;
    }
    .change1 {
        margin-right: 40px;
    }
    .change2 {
        margin-left: 40px;
    }
    .before, .after {
        font-size: 17px;
    }
}

