* {
    margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
main {
    position: relative;
}
.contact_area {
    margin: 200px auto 0 auto;
    text-align: center;
    width: 500px;
}
.contact_area h1 {
    border-radius: 30px;
    background-color: rgb(29, 76, 119);
    padding: 30px;
    color: white;
    margin-bottom: 50px;
}
.contact_message {
    text-align: center;
}
.contact_tel {
    margin-top: 50px;
    text-align: center;
}
.contact_tel h2{
    margin-bottom: 30px;
}
.contact_tel span {
    padding-left: 15px;
}
.contact_tel i {
    margin-bottom: 10px;
}
.contact_form {
    margin-top: 100px;
    text-align: center;
}
.contact_form h2 {
    padding-bottom: 10px;
}
.box_con {
    max-width: 900px;
    margin: 0  auto;
}
#footer {
  position: absolute;
  top: 500px;
  padding-top: none;
  margin-top: 1000px;
  background-color: rgb(175, 175, 175);
  width: 100%;
  height: 220px;
}
.kiku_footer {
  color: white;
  padding-top: 50px;
  /* margin-bottom: 20px; */
}
.footer_left {
  width: 50%;
  padding-left: 100px;
}
.footer_left h3 {
  margin-bottom: 20px;
}
.adress {
  margin-bottom: 0;
}
.footer_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_right a {
  padding-left: 20px;
  color: white;
  font-weight:bold;
}
.footer_list a {
  font-weight:bold;
}
#nav_footer {
  list-style: none;
  position: absolute;
  top: 100px;
  right: 100px;
}
.footer_list {
  float: left;
  padding-left: 30px
}
.footer_list a:hover {
  color: rgb(253, 157, 67);
  transition: all  0.6s ease;
}
.footer_left a {
  color: white;
}
#nav_footer .footer_list a.active {
  color: rgb(253, 157, 67);
}
.kiku_image {
  padding-left: 30px;
}
.copy_right {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
}
  @media screen and (max-width: 995px) {
    .footer_list {
        float: none;
        padding-left: 0;
        padding-top: 15px;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 20px;
        right: 100px;
    }
  }
  @media only screen and (max-width: 768px) {
    .contact_area {
      margin: 200px auto 0 auto;
      text-align: center;
      width: 300px;
    }
    .contact_message {
      padding: 0 15px;
    }
    .contact_form h2 {
      font-size: 27px;
    }
    .contact_form p {
      font-size: 12px;
    }
    .box_con {
      width: 95%;
    }
    .btn {
      width: 100%;
      height: 50px;
    }

    #footer {
      position: absolute;
      top: 580px;
      padding-top: none;
      margin-top: 1000px;
      background-color: rgb(175, 175, 175);
      width: 100%;
      height: 420px;
  }
  #nav_footer {
      list-style: none;

      left: 50px;
      padding-top: 5px;
  }
  .footer_left {
      width: 100%;
      padding-left: 70px;
      padding-top: 190px;
  }
  }
  .box_con form {
    width: 100%;
  }
  .box_con form table {
    width: 100%;
  }
  .box_con form table tr {
    position: relative;
  }
  .box_con form table tr:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
  }
  .box_con form table tr th {
    width: 30%;
    font-weight: normal;
    padding: 1em .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con form table tr th {
      padding: 0 .3em;
      margin-left: .5em;
      display: block;
      padding: .8em .2em;
    }
  }
  .box_con form table tr th span {
    color: rgb(255, 19, 19);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
  }
  .box_con form table tr td {
    padding: 0 .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con form table tr td {
      display: block;
      width: 100%;
    }
  }
  .box_con form table tr .box_br {
    display: block;
  }
  .box_con form table tr select {
    border: 1px solid #97ae88;
  }
  .box_con form table tr label input {
    cursor: pointer;
    display: none;
    vertical-align: middle;
  }
  .box_con form table tr .radio02-input + label {
    padding-left: 23px;
    margin-right: 20px;
    position: relative;
  }
  .box_con form table tr .radio02-input + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .box_con form table tr .radio02-input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #97ae88;
    border-radius: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .box_con form table tr select, .box_con form table tr input, .box_con form table tr textarea {
    width: 100%;
    height: 3em;
    padding: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con form table tr textarea {
    height: 10em;
  }
  
   .box_pri {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #cdcdcd;
    background: #f7f7f7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px 55px;
  }
  @media only screen and (max-width: 768px) {
     .box_pri {
      margin-top: 4%;
      padding: 3%;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
     .box_pri {
      padding: 4%;
    }
  }
   .box_pri .box_tori {
    text-align: left;
    margin-top: 40px;
  }
  @media only screen and (max-width: 768px) {
     .box_pri .box_tori {
      margin-top: 4%;
    }
  }
   .box_pri .box_tori h4 {
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 150%;
  }
  @media only screen and (max-width: 768px) {
     .box_pri .box_tori h4 {
      margin-bottom: 4%;
    }
  }
   .box_pri .box_tori .txt {
    padding: 0 20px;
  }
  @media only screen and (max-width: 768px) {
     .box_pri .box_tori .txt {
      padding: 0;
    }
  }
   .box_pri .box_num {
    margin-top: 30px;
  }
  @media only screen and (max-width: 768px) {
     .box_pri .box_num {
      margin-top: 5%;
    }
  }
   .box_pri .box_num h4 {
    font-weight: normal;
    font-size: 113%;
  }
   .box_pri .box_num .txt {
    padding: 10px 0 0 20px;
  }
  @media only screen and (max-width: 768px) {
     .box_pri .box_num .txt {
      padding: 3% 0 0 3%;
    }
}
  
.box_check {
  text-align: center;
  margin: 1em auto;
}
.box_check label {
  display: inline-block;
}
.box_check label span {
  margin-left: .3em;
}
.btn {
  float: right;
}
.btn input {
  display: inline-block;
  padding: .5em 4em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.8;
}
input, textarea {
  background-color: #f5f4f4;
  border: none;
} 

