* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
#footer {
    /* position: absolute; */
    /* top: 144px; */
    background-color: gray;
    /* margin-top: 200px; */
    width: 100%;
    z-index:1;
}