* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
#footer {
    /* position: absolute; */
    /* bottom: 0; */
    /* position: absolute; */
    /* top: 144px; */
    background-color: gray;
    /* margin-top: 200px; */
    width: 100%;
    height: 225px;
    z-index:1;
}
.kiku_footer {
    color: white;
    padding-top: 50px;
    /* margin-bottom: 20px; */
}
.footer_left {
    width: 50%;
    padding-left: 100px;
}
.footer_left h3 {
    margin-bottom: 20px;
}
.adress {
    margin-bottom: 0;
}
.footer_right {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right a {
    padding-left: 20px;
    color: white;
    font-weight:bold;
}
.footer_list a {
    font-weight:bold;
}
#nav_footer {
    list-style: none;
    position: absolute;
    top: 400px;
    right: 100px;
}
.footer_list {
    float: left;
    padding-left: 30px
}
.footer_list a:hover {
    color: rgb(38, 32, 32);
    transition: all  0.6s ease;
}
.footer_left a {
    color: white;
}
.footer_left a:hover {
    color: rgb(38, 32, 32);
    transition: all  0.6s ease;
}
#nav_footer .footer_list a.active {
    color: black;
}
.copy_right {
    padding-top: 35px;
    text-align: center;
    font-size: 13px;
}
@media screen and (max-width: 995px) {
    .footer_list {
        float: none;
        padding-left: 0;
        padding-top: 15px;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 310px;
        right: 100px;
        padding-top: 5px;
    }
    /* .footer_list {
        padding-top: 5px;
    } */
    /* .footer_left {
        height: 300px;
    } */
}
@media screen and (max-width: 767px) {
    /* .kiku_footer {
        position: relative;
    } */
    #footer {
        /* position: absolute; */
        /* bottom: 0; */
        /* position: absolute; */
        /* top: 144px; */
        background-color: gray;
        /* margin-top: 200px; */
        width: 100%;
        height: 425px;
        z-index:1;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 540px;
        left: 50px;
        padding-top: 5px;
    }
    .footer_left {
        width: 100%;
        padding-left: 70px;
        padding-top: 190px;
    }
     /* {
        position: absolute;
        top: 100px;
    } */
}