* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
#footer {
    background-color: rgb(175, 175, 175);
    width: 100%;
    height: 225px;
    z-index:1;
}
.kiku_image {
    padding-left: 30px;
}
.kiku_footer {
    color: white;
    padding-top: 50px;
}
.footer_left {
    width: 50%;
    padding-left: 100px;
}
.footer_left h3 {
    margin-bottom: 20px;
}
.adress {
    margin-bottom: 0;
}
.footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right a {
    padding-left: 20px;
    color: white;
    font-weight:bold;
}
.footer_list a {
    font-weight:bold;
}
#nav_footer {
    list-style: none;
    position: absolute;
    top: 400px;
    right: 100px;
}
.footer_list {
    float: left;
    padding-left: 30px
}
.footer_list a:hover {
    color: rgb(253, 157, 67);
    transition: all  0.6s ease;
}
.footer_left a {
    color: white;
}
#nav_footer .footer_list a.active {
    color: rgb(253, 157, 67);
}
.copy_right {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}
@media screen and (max-width: 995px) {
    .footer_list {
        float: none;
        padding-left: 0;
        padding-top: 15px;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 310px;
        right: 100px;
        padding-top: 5px;
    }
}
@media screen and (max-width: 767px) {
    #footer {
        background-color: rgb(175, 175, 175);
        width: 100%;
        height: 425px;
        z-index:1;
    }
    #nav_footer {
        list-style: none;
        position: absolute;
        top: 540px;
        left: 50px;
        padding-top: 5px;
    }
    .footer_left {
        width: 100%;
        padding-left: 70px;
        padding-top: 190px;
    }

}