* {
    margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
.image img{
    width: 1500px;
    height: 700px;
    background-attachment: fixed;
    position: fixed;
    opacity: 0.4;
    padding-right: 50px;
}
main {
    overflow: hidden;
}
a {
    text-decoration:none; 
    color: black;
}
a:hover {
    text-decoration:none; 
}

.fadeslide {
    position: relative;
    top: 10px;
	height: 810px;
	overflow: hidden;
    z-index: 0;
    background: #000;
}
video {
    display: block;
    opacity: 0.5;
    width: 100%;
    background-size: cover;
}
.fadeslide div {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
}

.fadeslide div:nth-of-type(1) {
	animation: fadeslide 18s 0s infinite both;
    z-index: 3;
    
}

.fadeslide div:nth-of-type(2) {
	animation: fadeslide 18s 6s infinite both;
	z-index: 2;
}

.fadeslide div:nth-of-type(3) {
	animation: fadeslide 18s 12s infinite both;
	z-index: 1;
}

@keyframes fadeslide {
    0% {
        animation-timing-function: ease-in;/*ゆっくり表示される*/
        opacity: 0;
      }
      20% {
        animation-timing-function: ease-out;/*表示された*/
        opacity: 1;
      }
      26% {
        opacity: 1;
      }
      30% {
        opacity: 0;/*次の画像で消えている*/
      }
      100% {
        opacity: 0;/*表示されていない時間*/
      }
}
.top_text {
    position: absolute;
    top: 300px;
    left: 40px;
    z-index: 150;
    font-size: 25px;
    color: white;
}
.top_text span {
    font-size: 70px;
}
.business_area {
    padding-left: 50px;
    padding-right: 50px;
    height: 550px;
    /* width: 100%; */
    margin-left: 20px;
    margin-right: 40px;
    background-color: white;
    /* margin-top: 10px; */
}
.kiku_main {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    height: 700px;
    margin-top: 100px;
    background-color: rgb(212, 223, 245);
    border-radius: 20px;
    transform: rotate(0); 
}
.elem_left, .elem {
    flex-grow: 1;
    /* display: inline-block;
    vertical-align: middle;
    align-items: center; */
}
.business_area h3 {
    text-align: center;
}
.business_area p {
    padding-top: 50px;
    line-height: 30px;
    font-weight: 500;
}
.col-md-5 {
    padding-right: 0;
    padding-left: 0;
}
.elem {
    opacity: 0.1;
    transition: 1.5s;
    transform: translate(200px);
  }
  .elem_left {
    opacity: 0.1;
    transition: 1.5s;
    transform: translate(-200px);
  }
.isAnimate {
    opacity: 1;
    transform: rotate(0); 
}
/* CSSアニメーションの設定 */
@keyframes SlideIn {
0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(64px);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}
.kiku_content {
    padding: 70px 0 20px 0;
    text-align: center;
}
.kiku_img {
    width: 700px;
    height: 600px;
    /* margin-top: 70px; */
    padding: 0 0 0 40px;
}
.business_area p {
    float: right;
    font-weight: 300px;
}
.business_btn {
    padding-top: 60px;
    text-align: center;
}
.business_border {
    width: 70px;
    margin: 0 auto;
    border-bottom: solid 2px #fd9d43;
    margin-top: 30px;
}
a.btn-border {
    padding: 20px 70px;
    color: white;
    text-decoration:none; 
    border-radius: 0;
    background-color: rgb(29, 76, 119);
}
a.btn-border:hover {
    color: #fff;
    background-color: rgb(45, 119, 187);
    transition: all  0.6s ease;
}
.company_about {
    margin-top: 500px;
    height: 400px;
    width: 100%;
    margin: 200px 50px 0 0;
    filter: drop-shadow(5px 5px 5px #aaa);
}
.box{
    position: relative;
    font-weight: bold;
    border-top: solid 2px #000000;
    position: absolute;
    width: 100%;
    margin-top: 140px;
    padding-top: 208px;
    background-color: rgb(175, 175, 175);
}
.main_form {
    margin: 170px auto 0 auto;
    width: 75%;
    height: 300px;
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #000000;
    position: relative;
    bottom: 10px;
    background-color: rgb(29, 76, 119);
    color: white;
    z-index: 100;
}
.contact_left {
    text-align: center;
    padding-top: 50px;
}
.contact_left p {
    padding-top: 50px;
}
.contact_right {
    text-align: center;
    padding-top: 50px;
}
.form_area {
    margin-top: 280px;
}
.tel {
    padding-left: 15px;
}
.reception_time {
    padding: 2px 0 0 50px;
}
.form_button {
    width: 50%;
    margin: 0 auto;
    padding: 15px 0;
    color: black;
    text-decoration:none; 
    border: 2px solid #000;
    border-radius: 30px;
    background: #fff;
}
.form_button:hover {
    transform:scale(1.1,1.1);
    transition-duration: 0.4s;
}
.form_button p {
    padding-top: 10px;
}
.footer_right {
    float: right;    
}
#nav li a.active    {
    color: rgb(253, 157, 67);
}
.product_left {
    position: relative;
    overflow: hidden;
}
.product_img:hover{
    transform:scale(1.2,1.2);
    transition-duration: 0.6s;
}
.company_right {
    position: relative;
    overflow: hidden;
}
.company_img:hover{
    transform:scale(1.2,1.2);
    transition-duration: 0.6s;
}
.product_img {
    width: 100%;
    height: 400px;
}
.company_img {
    width: 100%;
    height: 400px;
}
.product_index h3, .company_content h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
    background-color: #000000;
    padding: 15px 20px;
    opacity: 0.9;
}
.contact_form {
    position: relative;
}
@media screen and (max-width: 1230px) { 
    .kiku_img {
        margin-top: 70px;
        width: 500px;
        height: 500px;
    }
    .kiku_main {
        height: 650px;
    }
    .business_area {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 50px;
        margin-left: 50px;
        /* height: 550px;
        margin: 100px 0 0 0;
        background-color: white; */
        /* margin-top: 10px; */
    }
}

@media screen and (max-width: 1110px) { 
    .fadeslide {
        position: relative;
        top: 10px;
        width: 100%;
        height: 600px;
        overflow: hidden;
        z-index: 0;
        background: #000;
    }
    .main_form {
        width: 95%;
    }
}
@media screen and (max-width: 1040px) { 
    .kiku_img {
        margin-top: 70px;
        width: 450px;
        height: 450px;
    }
    .kiku_main {
        height: 600px;
    }
    .business_area {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 25px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 900px) { 
    .kiku_img {
        margin-top: 70px;
        /* padding-right: 150px; */
        width: 350px;
        height: 350px;
    }
    .kiku_main {
        height: 600px;
    }
    .business_area {
        /* padding-left: 50px;
        padding-right: 50px; */
        margin-top: 25px;
        /* margin-right: 175px; */
        /* width: 250px; */
    }
}
@media screen and (max-width: 800px) { 
    .kiku_img {
        margin-top: 70px;
        /* padding-right: 150px; */
        width: 300px;
        height: 300px;
    }
    .kiku_main {
        height: 600px;
    }
    .business_area {
        /* padding-left: 50px;
        padding-right: 50px; */
        margin-top: 25px;
        /* margin-right: 175px; */
        /* width: 250px; */
    }
}
@media screen and (max-width: 767px) { 
    .image img{
        width: 800px;
        height: 700px;
        background-attachment: fixed;
        position: fixed;
        opacity: 0.4;
        padding-right: 50px;
    }
    .fadeslide {
        position: relative;
        top: 10px;
        width: 100%;
        height: 370px;
        overflow: hidden;
        z-index: 0;
        background: #000;
    }
    .top_text {
        position: absolute;
        top: 150px;
        left: 40px;
        z-index: 150;
        font-size: 25px;
        color: white;
    }
    .top_text h1 {
        font-size: 20px;
    }
    .top_text span {
        font-size: 50px;
    }
    .kiku_main {
        display: block;
    }
    .company_about {
        width: 100%;
        margin-top: 150px;
        filter: drop-shadow(5px 5px 5px #aaa);
    }
    .business_area {
        padding-left: 0;
        margin-left: 15px;
        padding-right: 0;
    }
    .business_area p {
        float: none;
    }
    .business_btn {
        text-align: center;
        padding-top: 20px;
    }
    .contact_form {
        margin-top: 300px;
    }
    .product_img {
        height: 300px;
    }
    .company_img {
        height: 300px;
        margin-top: 30px;
    }
    .elem_left, .elem {
        text-align: center;
    }
    .main_form {
        width: 85%;
        height: 500px;
    }
    .reception_time {
        padding: 2px 0 0 40px;
        text-align: center;
    }
    .box {
        position: relative;
        font-weight: bold;
        border-top: solid 2px #000000;
        position: absolute;
        width: 100%;
        margin-top: 260px;
        padding-top: 288px;
        background-color: rgb(175, 175, 175);
    }
    .contact_right i {
        font-size: 25px;
    }
    .contact_right p {
        font-size: 13px;
    }
    .kiku_img {
        height: 350px;
        width: 95%;
        padding-left: 0;
    }
    .kiku_main {
        height: 970px;
    }
}
@media screen and (max-width: 500px) { 
    .image img{
        width: 600px;
        height: 500px;
        background-attachment: fixed;
        position: fixed;
        opacity: 0.4;
        padding-right: 50px;
    }
    .fadeslide {
        position: relative;
        top: 10px;
        width: 100%;
        height: 270px;
        overflow: hidden;
        z-index: 0;
        background: #000;
    }
    .top_text {
        position: absolute;
        top: 150px;
        left: 40px;
        z-index: 150;
        font-size: 25px;
        color: white;
    }
    .top_text h1 {
        font-size: 15px;
    }
    .top_text span {
        font-size: 35px;
    }
    .kiku_img {
        height: 250px;
    }
    .kiku_content {
        padding: 40px 0 20px 0;
    }
}
