* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
a {
    text-decoration:none; 
    color: black;
}
header {
	position: fixed;
	width:100%;
	height: 80px;
	left:0;
	top:0;
	margin:0;
	background-color: #FFF;
	z-index:1001;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); /*これを付け足し*/
}
.header_name a {
    padding-left: 20px;
    position: relative;
}
.header_list a {
    font-weight:bold;
}
.header_name {
    font-size: 25px;
    line-height: 80px;
}
#nav {
    list-style: none;
    position: absolute;
    top: 30px;
    right: 100px;
}
.header_list {
    float: left;
    padding-left: 30px
}
.header_list a:hover {
    color: rgb(94, 92, 92);
    transition: all  0.3s ease;
}
/* .slider_fade {
    position: relative;
}
 
.slider_fade > .slide_list {
    position: absolute;
    list-style: none;
    visibility: hidden;
    animation: anime_slider_fade 12s 0s infinite;
}
.slider_fade > li:nth-of-type(2) {
    animation-delay: 4s;
}

.slider_fade > li:nth-of-type(3) {
    animation-delay: 8s;
}

@keyframes anime_slider_fade {
    0% {
        visibility: visible;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    48.3% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} */

/* .slider img,
.slider video,
.sliderBox iframe{
    width: 100%;
    height: auto;
}

.slick-slide li{
    position: relative;
    padding-bottom: 56.25%;
        height: 0;
    overflow: hidden;
}


.slick-slide iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.fadeslide {
	position: relative;
	width: 100%;
	height: 850px;
	overflow: hidden;
	z-index: 0;
}

.fadeslide div {
	position: absolute;
	top: 0;
	left: 0;
}

.fadeslide div:nth-of-type(1) {
	animation: fadeslide 30s 0s infinite both;
	z-index: 6;
}

.fadeslide div:nth-of-type(2) {
	animation: fadeslide 30s 5s infinite both;
	z-index: 5;
}

.fadeslide div:nth-of-type(3) {
	animation: fadeslide 30s 10s infinite both;
	z-index: 4;
}

.fadeslide div:nth-of-type(4) {
	animation: fadeslide 30s 15s infinite both;
	z-index: 3;
}

.fadeslide div:nth-of-type(5) {
	animation: fadeslide 30s 20s infinite both;
	z-index: 2;
}

.fadeslide div:nth-of-type(6) {
	animation: fadeslide 30s 25s infinite both;
	z-index: 1;
}

@keyframes fadeslide {
	0% { left: 0; opacity: 0; }
	5% { left: 0; opacity: 1; }
	20% { left: 0; opacity: 1; }
	25% { left: 0; opacity: 0; }
	26% { left: 100%; opacity: 0; }
	100% { left: 100%; opacity: 0; }
}
.business_area {
    float: right;
    background-color: gray;
    height: 500px;
    width: 800px;
    margin: 50px 50px 0 0;
}
.kiku_main h3, .kiku_main p {
    padding-left: 60px;
}
.business_area p {
    padding-top: 50px;
    line-height: 25px;
}
.kiku_content {
    padding: 100px 0 20px 60px;
}
.business_btn {
    padding-top: 60px;
    text-align: center;
}
a.btn-border {
    padding: 20px 70px;
    color: black;
    text-decoration:none; 
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}
a.btn-border:hover {
    color: #fff;
    background: #000;
    transition: all  0.3s ease;
}
.company_about {
    /* float: right; */
    /* margin-top: 500px; */
    background-color: gray;
    height: 400px;
    width: 100%;
    margin: 700px 50px 0 0;
}
.box{
    font-weight: bold;
    border: solid 2px #000000;
    position: absolute;
    width: 100%;
    margin-top: 100px;
}
.main_form {
    margin: 100px auto 0 auto;
    width: 65%;
    height: 200px;
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #000000;
    position: relative;
    bottom: 10px;
    background-color: white;
}
/* .contact_left {
    width: 50%;
} */
.contact_right {
    float: right;
}
.footer_right {
    float: right;    
}
#nav li a.active    {
    color: rgb(94, 92, 92);
}