* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
a {
    text-decoration:none; 
    color: black;
}
header {
	position: fixed;
	width:100%;
	height: 80px;
	left:0;
	top:0;
	margin:0;
	background-color: #FFF;
	z-index:1001;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); /*これを付け足し*/
}
.header_name a {
    padding-left: 20px;
    position: relative;
}
.header_list a {
    font-weight:bold;
}
.header_name {
    font-size: 25px;
    line-height: 80px;
}
#nav {
    list-style: none;
    position: absolute;
    top: 30px;
    right: 100px;
}
.header_list {
    float: left;
    padding-left: 30px
}
.header_list a:hover {
    color: rgb(94, 92, 92);
    transition: all  0.3s ease;
}

.fadeslide {
	position: relative;
	/* width: 100%; */
	height: 810px;
	overflow: hidden;
    z-index: 0;
    background: #000;
    /* background: rgba(0, 0, 0, 0.5); */
}
video {
    display: block;
    opacity: 0.5;
    width: 100%;
}
.fadeslide div {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
}

.fadeslide div:nth-of-type(1) {
	animation: fadeslide 18s 0s infinite both;
    z-index: 3;
    
}

.fadeslide div:nth-of-type(2) {
	animation: fadeslide 18s 6s infinite both;
	z-index: 2;
}

.fadeslide div:nth-of-type(3) {
	animation: fadeslide 18s 12s infinite both;
	z-index: 1;
}

/* .fadeslide div:nth-of-type(4) {
	animation: fadeslide 30s 15s infinite both;
	z-index: 3;
}

.fadeslide div:nth-of-type(5) {
	animation: fadeslide 30s 20s infinite both;
	z-index: 2;
}

.fadeslide div:nth-of-type(6) {
	animation: fadeslide 30s 25s infinite both;
	z-index: 1;
} */

@keyframes fadeslide {
    0% {
        animation-timing-function: ease-in;/*ゆっくり表示される*/
        opacity: 0;
      }
      17% {
        animation-timing-function: ease-out;/*表示された*/
        opacity: 1;
      }
      26% {
        opacity: 1;
      }
      30% {
        opacity: 0;/*次の画像で消えている*/
      }
      100% {
        opacity: 0;/*表示されていない時間*/
      }
}
.top_text {
    position: absolute;
    top: 300px;
    left: 40px;
    z-index: 150;
    font-size: 25px;
    color: white;
}
.top_text span {
    font-size: 70px;
}
.business_area {
    float: right;
    background-color: gray;
    height: 500px;
    width: 800px;
    margin: 50px 50px 0 0;
}
.kiku_main h3, .kiku_main p {
    padding-left: 60px;
}
.business_area p {
    padding-top: 50px;
    line-height: 25px;
}
.kiku_content {
    padding: 100px 0 20px 60px;
}
.business_btn {
    padding-top: 60px;
    text-align: center;
}
a.btn-border {
    padding: 20px 70px;
    color: black;
    text-decoration:none; 
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}
a.btn-border:hover {
    color: #fff;
    background: #000;
    transition: all  0.3s ease;
}
.company_about {
    /* float: right; */
    margin-top: 500px;
    /* background-color: gray; */
    height: 400px;
    width: 100%;
    margin: 700px 50px 0 0;
    filter: drop-shadow(5px 5px 5px #aaa);
}
.box{
    font-weight: bold;
    border: solid 2px #000000;
    position: absolute;
    width: 100%;
    margin-top: 100px;
}
.main_form {
    margin: 100px auto 0 auto;
    width: 65%;
    height: 200px;
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #000000;
    position: relative;
    bottom: 10px;
    background-color: white;
}
/* .contact_left {
    width: 50%;
} */
.contact_right {
    float: right;
}
.footer_right {
    float: right;    
}
#nav li a.active    {
    color: rgb(94, 92, 92);
}
.product_left {
    position: relative;
    overflow: hidden;
}
.product_img:hover{
    transform:scale(1.2,1.2);
    transition-duration: 0.6s;
}
.company_right {
    position: relative;
    overflow: hidden;
}
.company_img:hover{
    transform:scale(1.2,1.2);
    transition-duration: 0.6s;
}
.product_index h3, .company_content h3 {
    position: absolute;
    top:50%;
    left: 40%;
    color:white;
    background-color: #000000;
    padding: 15px 20px;
    opacity: 0.9;

}